<div class="panel panel-default">
	<div class="panel-body">
		<table>
			<tbody>
				<tr>
					<td><p> Thank You. We have received your message and will respond as soon as possible. </p></td>
				</tr>
				<tr>
					<td><p><%= @message %></p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>