// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 
h1 {
	text-align: center;
}
body {
	
	background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #485563 , #29323c); 
        
	padding-top: 70px;
	background-size: cover;
	font: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
	text-align: center;
}
li {
	float: left;
}

.footer, .push {
height: 4em;
}

.text-muted {
	margin: 0px,0;	
}
.img-responsive {
	opacity: 0.8;
	margin: 0 auto;
	height: 300px;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.carousel-inner > .item > img {
    margin: 0 auto;
}

